body{
    background: black;
    margin:auto;

}

.container-fluid{
    background-color: white;
    width: 75%;
}

.imageFolio {
    width: 400;
    height: 400;
}

.contact {
    width: 1000px;
    margin: 0 auto;
}