body{
    background: black;
    margin:auto;

}

.container-fluid{
    background-color: white;
    width: 75%;
}

.sectionServices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 3px solid red;
    padding: 20px;
    width: 750px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.imageServices img{
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
}
.sectionFirst{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 3px solid red;
    padding: 20px;
    width: 750px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.imageFirst img{
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
}