<!-- your html code here -->
<body>
    <div class="container mt-5">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tempora, nisi adipisci autem veritatis nostrum laboriosam delectus magni omnis, officiis quas fugiat iure nobis, optio eveniet impedit laudantium. Officiis, nemo.</p>
            
        <form action="/action_page.php" class="bg-light border p-3">
            <div class="mb-3 mt-3 d-flex justify-content-center align-items-center">
              <label for="email" class="form-label"> Your E-mail</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="mb-3 d-flex justify-content-center align-items-center">
                <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            <div class="d-flex justify-content-end align-items-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    
    </div>
    </body>