<!-- your html code here -->



<div class="container mt-5 mb-5">
    
    <div class="col-md-12" style="border: 0.5px solid grey; opacity: 10%; margin-bottom: 50px;">
    </div>
  
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tempora, nisi adipisci autem veritatis nostrum laboriosam delectus magni omnis, officiis quas fugiat iure nobis, optio eveniet impedit laudantium. Officiis, nemo.</p>
            
       
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="bg-light border rounded">
                        <div class="row">
                          <div class="col-lg-2 col-md-12">
                            <label for="exampleFormControlInput1" class="form-label-1">Your E-mail</label>
                        </div>
                        <div class="col-lg-10 col-md-12">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
                        </div>
                        </div>
                        
                        
                        <div class="row mt-3">
                            <div class="col-lg-2 col-md-12 tAreaText">
                                <label for="exampleFormControlTextarea1" class="form-label-2">Your message</label>
                            </div>
                            <div class="col-lg-10 col-md-12">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
                          </div>
                          </div>
        
                        <div class="row mt-3">
                        <div class="col-md-12 d-flex justify-content-end align-items-end">
                        <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                        </div>
                        
            </form>
        </div>
                
    <div class="col-md-2"></div>
        
            
      
    </div>
</div>
  
  