

    <div class="sectionFirst">
        <div class="textServices">
            <h2><strong>This Second Heading</strong> Is Pretty Cool Too.</h2>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
               Present commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="imageFirst">
            <img src="./assets/img/1.jpg" alt="Avatar">
            
        </div>
    </div>

