<!-- your html code here -->

<div class="container mt-5">
   
    <div class="col-md-12" style="border: 1px solid grey; opacity: 5%; margin: 50px 0px;">
    </div>
   
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tempora, nisi adipisci autem veritatis nostrum laboriosam delectus magni omnis, officiis quas fugiat iure nobis, optio eveniet impedit laudantium. Officiis, nemo.</p>
        
    <div class="row g-4">
        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center">
            <img src="./assets/img/2.jpg" class="imageFolio img-fluid" alt="empty div">
            <div class="mt-4">
                <h5 class="text-info">Project name</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eos nihil impedit eveniet id placeat quod, corporis suscipit eaque ratione maiores sit maxime exercitationem ullam itaque! Possimus excepturi vitae eligendi?</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center">
            <img src="./assets/img/2.jpg" class="imageFolio img-fluid" alt="empty div">
            <div class="mt-4">
                <h5 class="text-info">Project name</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eos nihil impedit eveniet id placeat quod, corporis suscipit eaque ratione maiores sit maxime exercitationem ullam itaque! Possimus excepturi vitae eligendi?</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center">
            <img src="./assets/img/2.jpg" class="imageFolio img-fluid" alt="empty div">
            <div class="mt-4">
                <h5 class="text-info">Project name</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eos nihil impedit eveniet id placeat quod, corporis suscipit eaque ratione maiores sit maxime exercitationem ullam itaque! Possimus excepturi vitae eligendi?</p>
            </div>
        </div>
    </div>

</div>

